.data-box {
  margin: 100px 300px;

}

.title-data {
  width: 768px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: $color-primary-black;
  margin-bottom: 48px;
}

.data-info {
  display: flex;
  align-items: center;
  gap: 77.6px;
  & span {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
