.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  li {
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #525560;
    }
  }
  li.active {
    color: #0b0706;
  }
  .btn__donate {
    background: #1d2130;
    border-radius: 4px;
    text-align: right;
    padding: 12px 32px;
    color: #fff;
  }
}
